/* for css */
body::-webkit-scrollbar{
    width:1em;
}
#heading{
    background-color: #4267b2;
    border: 1px solid black;
    position: absolute;
    left:0;
    right:0;
    top:0;
    height:5%;
    color: rgb(244, 241, 241);
    font-size:20px;
    font-weight:bold;
    text-align: center;
}
#name_test{
    position: relative;
    top:10%;
}
#here_is_body{
    background-color: #e9ebee;
}
#blank1{
    position: absolute;
    width: 8%;
    height: 94.8%;
    left: 0;
    bottom: 0;
}

#starred_friend_list{
    position: absolute;
    width: 20%;
    height: 92%;
    left: 8%;
    bottom:0;
    text-align: center;
}
#starred_friend ol{
    width: 8%;
    padding-left: 40%;
}
#blank2{
    width: 5%;
    left:30%;
    position: absolute;
    height: 94.8%;
    bottom: 0;
}
#blank3{
    width: 8%;
    right:0;
    position: absolute;
    height: 94.8%;
    bottom: 0;
}
#posts{
    background-color: white;
    position: absolute;
    height: 92%;
    width: 57%;
    right:8%;
    bottom:0;
    overflow:auto;
    text-align: center;
}
#posts #initial_posts{
    position: relative;
    text-align: left;
    top:10px;
}
#posts #load_moreposts1{
    position: relative;
    text-align: left;
}
#posts #load_moreposts2{
    position: relative;
    text-align: left;
}

table {
    font-size: large;
    font-weight: bold;
}
@media only screen 
and (min-device-width : 200px) 
and (max-device-width : 812px){ 
    #heading{
        background-color: #4267b2;
        border: 1px solid black;
        position: fixed;
        left:0;
        right:0;
        top:0;
        height:5%;
        color: rgb(244, 241, 241);
        font-size:20px;
        font-weight:bold;
        text-align: center;
    }
    #here_is_body{
        background-color: #e9ebee;
    }
    #posts{
        background-color: white;
        position: fixed;
        height: 95%;
        width: 100%;
        right:0;
        left:0;
        bottom:0;
        overflow:scroll;
        overflow-y: scroll;
        text-align: center;
    }
    #posts #initial_posts{
        position: relative;
        text-align: left;
        top:10px;
    }
    #posts #load_moreposts1{
        position: relative;
        text-align: left;
    }
    #posts #load_moreposts2{
        position: relative;
        text-align: left;
    }
}
@media only screen and (max-width:580px){
  
    #heading{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1
    }
    #starred friend list{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1
    }
    #posts{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1
    }
}